* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding-top: 1rem;
    padding-bottom: 4px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
header nav {
    margin-bottom: 1rem;
}
header nav .container {
    display: flex;
    justify-content: space-between;
}
.nav-login, .hero-first-button {
    text-align: center;
    background-color: white;
    border-radius: 25px;
}
.nav-links, .nav-login {
    padding: 1rem;
}
.nav-logo, .nav-login {
    min-width: 100px;
}
.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul a {
    display: inline-block;
    padding: 0 0.3rem;
    text-decoration: none;
    color: white;
}
/* BLOCCO SOTTO IL NAV  */
section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container {
    max-width: 980px;
    margin: 0 auto;
}
h1 {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}
#hero-text {
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    margin-bottom: 15px;
}
.hero-section {
    padding: 2rem 0;
}
.hero-section .container {
    max-width: 680px;
    min-height: 300px;
}
.container div:last-child  {
    text-align: center;
}
.hero-first-button {
    padding: 15px;
    margin-right: 20px;
}
.hero-second-button {
    color: white;
    padding: 15px;
    text-align: center;
    background-color: black;
    border-radius: 25px;
}
/* MAIN */
h2 {
    line-height: 38px;
    margin-top: 28px;
    font-size: 32px;
    text-align: left;
}
.paragraphs {
    text-align: left;
    line-height: 22px;
    margin-top: 20px;
}
.bg-grey {
    background-color: #d3d3d3;
}


.row {
    display: flex;
}

.col-large, .col-small {
    min-height: 300px;
}

.col-large {
    width: 60%;
}

.col-small {
    width: 40%;
}

.box-green {
    min-height: 500px;
}
.box-green h2 {
    text-align: center;
    margin-bottom: 1rem;
}
.box-green p {
    text-align: center;
    line-height: 23px;
    width: 700px;
    margin: auto;
}
.main-botton-part h2 {
    text-align: center;
    margin-bottom: 50px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}
.main-botton-part span {
    color: white;
    padding: 15px;
    text-align: center;
    background-color: #7289da;
    border-radius: 25px;
}
.main-botton-part {
    margin-bottom: 90px;
}
/* FOOTER  */
footer .col {
    flex-grow: 1;
    min-height: 300px;
    padding-top: 30px;
}

footer .col-large {
    width: 15%;
}
.col-large h3 {
    color: #7289da;
    line-height: 35px;
    font-size: 32px;
    text-align: left;
}
#language {
    width: 30px;
    text-align: left;
}
.col ul {
    list-style: none;
}
footer ul li a {
    list-style: none;
}
footer ul li:first-child {
    color: #7289da;
}

footer hr {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.secondary-footer {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #23272a;
    padding-top: 6px;
}
.footer-btn {
    color: white;
    padding: 13px;
    text-align: center;
    background-color: #7289da;
    border-radius: 25px;
}